.package {
    box-shadow: 0px 16px 56px 6px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px 40px;
    background-color: #fff;
    margin-top: -150px;
    position: relative;
    overflow: hidden;
}

.package > * + * {
    margin-top: 32px;
}

.package__title {
    color: #0F0F0F;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    margin-top: 0;
}

.package__price .discounted {
    text-decoration: line-through;
    position: absolute;
    font-size: 16px;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
}

.package__price {
    color: #EA3B4F;
    font-size: 40px;
    margin-top: 32px;
    position: relative;
}

.package__desc {
    color: #424242;
    font-size: 15px;
    line-height: 26px;
    margin-top: 32px;
}

.package__features ul li {
    list-style: none;
    position: relative;
}

.package__features ul {
    padding: 0;
    margin-bottom: 0;
}

a {
    color: #EA3B4F;
    transition: color .15s;
}

a:hover {
    color: #a52937;
}

.package__features-actions {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.package__features li + li {
    margin-top: 16px;
}

.package__features {
    position: relative;
    padding-top: 32px;
    width: 100%;
}

.package__features::before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #EA3B4F;
    width: 38px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.package__actions-top {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
}

.package__actions-top .btn {
    font-size: 10px;
    padding: 0px 6px;
    line-height: 26px;
}

.package__actions-top .btn + .btn {
    margin-top: 8px;
}

.btn-primary {
    background-color: #EA3B4F;
    border-color: #EA3B4F
}

.btn {
    border-radius: 30px;
    padding-left: 28px;
    padding-right: 28px;
    font-weight: 700;
    line-height: 30px;
}

.btn:focus {
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #a52937;
    border-color: #a52937;
}

.btn-outline-primary {
    color: #fff;
    border-color: #d6384a
}

.btn-outline-primary:hover {
    background-color: #a52937;
    border-color: #a52937;
}

.banner__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

.banner__actions .btn + .btn {
    margin-left: 16px;
}

.banner__title {
    font-size: 40px;
    color: #fff;
}

.banner {
    background-color: #192936;
    height: 350px;
}

.modal-body .form-group {
    margin-bottom: 20px;
}

.modal-title {
    width: 100%;
    text-align: center;
}

.navbar {
    height: 80px;
}

.navbar__logo img {
    width: 156px;
    height: 35px;
}

.form-footer {
    display: flex;
    justify-content: center;
}

.label-corner {
    top: -15px;
    right: 15px;
    width: 100px;
    position: absolute;
    max-height: 16px;
    font-size: 10px;
    padding: 4px;
    color: #fff;
    transform: rotate(45deg) translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EA3B4F;
    margin-top: 0;
}